/* THE MAIN BACKGROUND AND CONTAINER OF THE COMPONENT */
.background-behind {
  background-image: linear-gradient(
      rgba(35, 35, 35, 0.5),
      rgba(22, 21, 21, 0.5)
    ),
    url(/public/background-image.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
}

/* user list */
.user-list-title {
  background-color: white;
  width: 350px;
  height: 35px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.user-info {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 10px;
}
/* THE CONTAINER TO MAINTAIN SCREEN SIZE */
.background {
  background: none;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(215, 18, 18, 0);
  display: flex;
  justify-content: space-between;
}

.user-list {
  width: 350px;
}
.search-bar {
  width: 350px;
  margin-bottom: 10px;
}
.user-avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.user-item {
  cursor: pointer;
}

/* scrollbar codes */
/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* For WebKit-based browsers */
::-webkit-scrollbar-thumb {
  background-color: rgb(
    54,
    51,
    51
  ); /* Color of the scrollbar thumb (the moving part) */
}

/* For WebKit-based browsers */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* LOADER CODES HERE */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.loader {
  margin-top: 100px; /* Adjust the margin-top to position the spinner properly within the container */
  position: absolute;
  right: 50%;
}

/* PAGINATION CODES HERE */
.black-and-white-theme .page-link {
  background-color: #fff;
  color: #292727;
  border: 1px solid #292727;
}

.black-and-white-theme .page-link:hover {
  background-color: #292727;
  color: #fff;
  border: 1px solid #292727;
}

.black-and-white-theme .page-item.active .page-link {
  background-color: #292727;
  color: #fff;
  border: 1px solid #292727;
}
.modal-for-small-devices {
  display: none;
}
.full-list {
  margin-left: 40px;
}
/* RESPONSIVE ZONE */
@media (max-width: 768px) {
  .modal-for-small-devices {
    display: block;
  }
  .user-details {
    display: none;
  }
  .full-list {
    margin-left: 0px;
  }
}
