.all-info {
  color: rgb(255, 255, 255);
}
.user-details-title {
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 10px;
  margin-right: 60px;
  padding: 5px;
}
.user-details-container {
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  width: 500px;
  height: 600px;
  padding: 20px;
  background-image: url(/public/background-image.jpg);
  border-radius: 20px;
  box-shadow: 8px 9px 12px rgb(0, 0, 0);
  margin-right: 60px;
}
.user-name {
  color: gray;
}
/* FOR LARGE SCREEN */
.detail-image {
  width: 300px;
  height: 300px;
  border-radius: 15%;
}

/* CLOSE CROSS ICON CODES */
.close-icon {
  position: absolute;
  right: 0%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 50%;
}
.close-icon:hover {
  background-color: azure;
  color: rgb(0, 0, 0);
}

/* RESPONSIVE ZONE FOR PHONE */
@media (max-width: 768px) {
  .user-details-container {
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    width: 300px;
    height: 550px;
    padding: 8px;
    box-shadow: 8px 9px 12px rgb(0, 0, 0);
    position: absolute;
    right: 50%;
  }
  /* FOR SMALL SCREEN */
  .detail-image {
    width: 200px;
    height: 200px;
  }
  /* THIS CODE FOR HIDE ON PHONE SCREEN */
  .display-none-in-small-screen {
    display: none;
  }
  .close-icon {
    right: 0%;
  }
}
